<div class="row">
  <div class="leftcolumn">
    <li *ngFor="let item of postList; let i = index">
      <div class="card">
        <h2>Title: {{item.title || "N/A"}}</h2>
        <h5>Created at: {{item.created_at | date: 'yyyy-MMM-dd'}}</h5>
        <p>Content: {{item.content || "N/A"}}</p>
        <p>Visitor Name: {{item.visitor_name || "N/A"}}</p>
        <p>Upvotes: {{item.upvotes_count}}</p>
        <br><br>
      </div>
    </li>
  </div>
</div>

<div *ngIf="visitor" class="row">
  <div>
    <h2>Create Posts: </h2>
    Title: <input type="text" id="title" [(ngModel)]="post.title">
    Content: <input type="text" id="content" [(ngModel)]="post.content">
    <input type="button" value="Submit" (click)="createPost()">
  </div>
</div>
