<div class="row" *ngIf=false>
  <div>
    <h2>Create Visitor: </h2>
    Name: <input type="text" id="name" [(ngModel)]="visitor.name">
    <input type="button" value="Submit" (click)="createVisitor()">
  </div>
</div>

<div>Select Visitor
  <div class="row">
    <div class="leftcolumn" >
      <select (change)="sendVisitor()" [(ngModel)] = "visitor">
        <option value="">-- Select Visitor --</option>
        <option *ngFor="let item of visitorList;" [value]="item.id"> {{item.name}} </option>
      </select>
    </div>
  </div>  
</div>
